apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: guestbook
      tier: frontend
  replicas: 2
  template:
    metadata:
      labels:
        app: guestbook
        tier: frontend
    spec:
      containers:
      - name: php-redis
        image: gcr.io/google-samples/gb-frontend:v4
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
      - configMap:
         defaultMode: 256
         name: myconfig-map
         optional: false
        name: vol1
        volumeMounts:
        - name: vol1
          mountPath: /etc/myconfig
        
        ports:
        - containerPort: 80
